<!DOCTYPE html>
<html>
<head>
    <title>Вхід</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Введіть дані</h1>
    <form action="/vhod" method="post">
        <input type="text" name="name" placeholder="Логін" required/><br><br>
        <input type="text" name="pass" placeholder="Пароль" required/><br><br>
        <button class="valid">Ввійти</button>
        <h3><%=alert%></h3>
    </form>
</body>
</html>