<!DOCTYPE html>
<html>
<head>
    <title>Вхід</title>
    <meta charset="utf-8" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Налаштування профіля</h1>
    <div class="inputInfo">
    <div>
    <form action="/profile?name=<%=info.userName%>" method="post" enctype="multipart/form-data">
        
        <label for="image">Виберіть аватар</label><br>
        <input type="file" id="file" name="image" /><br><br>
        <label>Задайте статус</label><br>
        <input type="text" name="status" /><br><br>
        <button type="submit">Відправити</button>
    </div>
    </form>
    <div class="info">
        <% if(info.image.length > 0){ %>
        <img class="" src="/<%= info.image%>">
        <% } else { %>
            <p>"ВСТАВТЕ"</p>
            <% } %>
        <% if(info.status.length > 0){ %>
            <p class=""> <%= info.status%></p>
        <% } else { %>
            <p>"ВСТАВТЕ"</p>
            <% } %>
        
    </div>
</div>
</body>
</html>
